{% extends "customer/base.html" %}
{% load static %}
{% block page %}
<div class="row align-items-center text-center" style="height: 100vh; ">
    <div class="col">
      <div style="position: relative;">
        <img src="{% static 'images/prod_3.jpeg' %}" alt="" height="600px" width="1200px" style="display: block;">
        <h2 style="position: absolute; top: 30%; left: 50%; font-size: 50px; transform: translate(-50%, -50%); color: rgb(255, 255, 255);font-family: 'Times New Roman', Times, serif; font-weight: bold; ">We provide
        Organic cosmatics for you</h2>
      </div>
    </div>
  </div>
  
  <div class="container text-center mt-5">
    <div class="row ">
      <h1 style="font-family: 'Broadway', cursive; padding-top:50px">OUR PRODUCTS</h1>
      {% for i in pro %}
      <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="/up_media/{{i.picture}}" class="card-img-top" alt="..."  height:100px;width:100px;>
          <div class="card-body">
            <h5 class="card-name">{{i.name}}</h5>
            <h5 class="card-price">Rs.{{i.price}}</h5>
            <h5 class="card-detail">Quantity:{{i.quantity}}</h5>
            <form action="{% url 'add_to_cart' i.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
          <a href="#" class="btn btn-primary">Order Now</a>
        </div>
      </div>
    </div>
        {% endfor %}
      </div>
    </div>

{% endblock page %}