{% extends "sadmin/base.html" %}
{% block page %}
<div class="container text-center mt-5">
    <div class="row ">
      <div class="col">
            <table class="table" style="width: 80%;">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Created_at</th>
                </tr>
                </thead>
                <tbody>
                {% for i in abc %}
                    <tr>
                        <th scope="row">{{i.id}}</th>
                        <td scope="col">{{i.name}}</td>
                        <td scope="col">{{i.mobile}}</td>
                        <td scope="col">{{i.email}}</td>
                        <td scope="col">{{i.address}}</td>
                        <td scope="col">{{i.gender}}</td>
                        <td scope="col">{{i.created_at}}</td>
                    </tr>
                {% endfor %}
                </tbody>
          </table>
      </div>
     
{% endblock page %}